*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: #FAFAFA;
}
.main-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 140px;
}
/* form{
    display: block;
    width: 100%;
    border: 2px solid red;
} */
.main-container-btn{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #9A8DBF;
    color: #8d75cf;
    font-weight: 700;
    cursor: pointer;
    margin: 30px 0;
}
.form-content {
    background-color: #FAFAFA;
    padding: 20px;
    width: 72%;
    margin: 20px 0;
    background: rgb(216 207 207 / 24%);
    border-radius: 8px;
}
.form-content label input{
    background: #FAFAFA;
    padding: 10px 10px 10px 40px;
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    color:  rgb(106, 105, 105);
    border: 1px solid gray;
}
.input-form label i{
    position: absolute;
    top: 56%;
    left: 3%;
    color: rgb(106, 105, 105);
}
.input-form label{
    position: relative;
    /* display: flex; */
    display: block;
    align-items: center;
}
.form-text-header{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.form-text-header span{
    color: #838080;
    font-weight: 700;
}
.icon-text-flex{
    display: flex;
    align-items: center;
    gap: 9px;
    color: #838080;
}